:root{
    --theme-color:#000000;
}

.myClassDiv{
    border: 2px solid greenyellow;
    display: inline-block;
}

.findout{
    border: 1px solid rgb(10, 243, 61);
}

h1{
    display: inline-block
}

#mainDiv{
    background: var(--theme-color);
}

.swatches span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}
